<div class="well col-md-8 col-md-offset-2">
  <h1 align="center">About Alpha Blog</h1>
  <p>Alpha Blog was created with the Udemy course <a href="https://www.udemy.com/the-complete-ruby-on-rails-developer-course/#/"><strong>The Complete Ruby on Rails Developer Course</strong></a></p>
  <hr />
  <%= link_to 'Home', root_path %>
</div>
