<div class='container'>
  <footer class='footer'>
    <small>
      Copyright &copy; by <a href='https://www.linkedin.com/in/eric-kim-a2172b90'>Eric Kim</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to 'About', about_path %></il>
      </ul>
    </nav>
  </footer>
</div>

